In [ ]:
# 라이브러리 import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Machine-Learning에 필요한 라이브러리 import
import sklearn
from sklearn.model_selection import train_test_split

In [ ]:
# 데이터 불러오기
titanic_df= pd.read_csv('titanic.csv')

Pandas DataFrame 참고 사이트

https://pandas.pydata.org/docs/reference/frame.html

In [ ]:
"""
Q1. age 결측치 확인 및 평균으로 채우기
"""

# check age missing value
print(titanic_df['Age'].isnull().sum())

# fill age missing value with mean
titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)

177

In [ ]:
# titanic_df['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [ ]:
"""
Q2. embarked 결측치를 확인하고 S로 채우기
"""
# check embarked missing value
print(titanic_df['Embarked'].isnull().sum())

# fill embarked missing value with 'S'
titanic_df['Embarked'].fillna('S', inplace=True)

2

In [ ]:
# titanic_df['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [ ]:
titanic_df['FamilySize'] = (titanic_df['SibSp'] + titanic_df['Parch'] + 1)
titanic_df['Alone'] = 0
titanic_df.loc[titanic_df['FamilySize'] == 1, 'Alone'] = 1
x1 = pd.get_dummies(titanic_df['Pclass'])
x2 = pd.get_dummies(titanic_df['Sex'])
x3 = pd.get_dummies(titanic_df['Embarked'])

data = pd.concat([titanic_df, x1, x2, x3], axis=1)

In [ ]:
data

,Age,SibSp,Parch,Fare,FamilySize,Alone,1,2,3,female,male,C,Q,S
0,22.000000,1,0,7.2500,2,0,False,False,True,False,True,False,False,True
1,38.000000,1,0,71.2833,2,0,True,False,False,True,False,True,False,False
2,26.000000,0,0,7.9250,1,1,False,False,True,True,False,False,False,True
3,35.000000,1,0,53.1000,2,0,True,False,False,True,False,False,False,True
4,35.000000,0,0,8.0500,1,1,False,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,13.0000,1,1,False,True,False,False,True,False,False,True
887,19.000000,0,0,30.0000,1,1,True,False,False,True,False,False,False,True
888,29.699118,1,2,23.4500,4,0,False,False,True,True,False,False,False,True
889,26.000000,0,0,30.0000,1,1,True,False,False,False,True,True,False,False
890,32.000000,0,0,7.7500,1,1,False,False,True,False,True,False,True,False

In [ ]:
"""
Q3. 예측에 사용하지 않을 데이터를 제거하고, x, y 데이터를 나누기

제거 대상 컬럼 : 'PassengerId', 'Name', 'Ticket', 'Cabin', 'Survived', 'Pclass', 'Sex', 'Embarked'
"""
# delete unnecessary columns
# data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Survived', 'Pclass', 'Sex', 'Embarked'], axis=1, inplace=True)

# split x, y data
x = data
y = titanic_df['Survived']

In [ ]:
x

,Age,SibSp,Parch,Fare,FamilySize,Alone,1,2,3,female,male,C,Q,S
0,22.000000,1,0,7.2500,2,0,False,False,True,False,True,False,False,True
1,38.000000,1,0,71.2833,2,0,True,False,False,True,False,True,False,False
2,26.000000,0,0,7.9250,1,1,False,False,True,True,False,False,False,True
3,35.000000,1,0,53.1000,2,0,True,False,False,True,False,False,False,True
4,35.000000,0,0,8.0500,1,1,False,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,13.0000,1,1,False,True,False,False,True,False,False,True
887,19.000000,0,0,30.0000,1,1,True,False,False,True,False,False,False,True
888,29.699118,1,2,23.4500,4,0,False,False,True,True,False,False,False,True
889,26.000000,0,0,30.0000,1,1,True,False,False,False,True,True,False,False
890,32.000000,0,0,7.7500,1,1,False,False,True,False,True,False,True,False

In [ ]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

Scikit-learn "Logistic Regression" Document

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

Scikit-learn "Cross_Validation_Score" Document

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
x.values

array([[22.0, 1, 0, ..., False, False, True],
       [38.0, 1, 0, ..., True, False, False],
       [26.0, 0, 0, ..., False, False, True],
       ...,
       [29.69911764705882, 1, 2, ..., False, False, True],
       [26.0, 0, 0, ..., True, False, False],
       [32.0, 0, 0, ..., False, True, False]], dtype=object)

In [ ]:
"""
Q4. 주석을 참고하여 코드를 작성
"""


lr = LogisticRegression(max_iter=1000)

cv = cross_val_score(lr, x.values, y, cv=5, scoring='accuracy')

print(cv)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)


print('X_train.shape:', X_train.shape)
print('y_train.shape:', y_train.shape)
print('X_test.shape:', X_test.shape)
print('y_test.shape:',y_test.shape)

[0.78212291 0.79213483 0.79775281 0.78089888 0.83146067]
X_train.shape: (623, 14)
y_train.shape: (623,)
X_test.shape: (268, 14)
y_test.shape: (268,)

In [ ]:
"""
Q5. 주석을 참고해 모델을 학습시키고, 정확도를 구하기
"""

# train data 학습
lr.fit(X_train.values, y_train.values)

# 예측 함수 작성
y_pred = lr.predict(X_test.values)
print('정확도:', accuracy_score(y_test, y_pred))

정확도: 0.8097014925373134

In [ ]:
"""
Q6. 아래 값을 참고해서 my 변수를 완성하기

Age:26 SibSp: 1 Parch: 2 Fare: 100 FamilySize: 4 Alone: 0 Pclass: 2(0,1,0) Sex: male(0,1) Emb: C(1,0,0)

"""

my = [[
    26, # Age
    1, # SibSp
    2, # Parch
    100, # Fare
    4, # FamilySize
    0, # Alone
    0, # Pclass_1
    1, # Pclass_2
    0, # Pclass_3
    0,
    1,
    1,
    0,
    0
]]

pred = lr.predict(my)

if pred:
    print('생존!')
else:
    print('사망.')

사망.